body{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(33, 33, 66); text-align: center; }
    li{font-style: italic;
    font-size: 14px;
    font-weight: normal; text-align: left;}

    a{color: blueviolet;text-decoration: none;}
    .resumelistheading {font-weight: bold;
        font-style: normal;}
    a:hover{
        text-decoration: underline;
        color:blue;}